.dOrderSm{
    width: 340px;
    height: auto;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px 20px 10px 20px;
    margin: 20px;
    background-color: white;

    .dOrderSmTitle{
        font-size: 19px;
        font-weight: 700;
        color: rgb(0, 0, 107);
    }

    .dOrderSmSeeAll{
        font-size: 13px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        margin-left: 90px;
        cursor: pointer;
    }

    .dOrderSmList{
        margin-left: 15px;
        padding: 0;
        list-style: none;

        .dOrderSmListItem{
            display: flex;
            align-items: center;
            margin: 20px 0px;

            .dOrderSmProImg{
                width: 40px;
                height: 40px;
                border-radius: 10px 0px 10px 0px;
                object-fit: cover;
            }

            .dOrderSmProduct{
                display: flex;
                flex-direction: column;

                .dOrderSmProductname{
                    font-size: 16px;
                    font-weight: 600;
                    margin-left: 15px;
                } 
            }
        }  
    }
}