.DContainer{
    width: 1260px;
    height: 100%;
    min-height: 735px;
    background-color: rgb(255, 255, 255);
    margin-left: 250px;
    border-radius: 20px;
    padding-bottom: 5px;

    .header{
        display: flex;
        flex-direction: row;

        .title{
            font-size: 28px;
            color: black;
            margin-top: 15px;
            font-weight: 600;
            margin-left: 40px;

            .subtitle{
                font-size: 30px;
                font-weight: bold;
                color: rgb(37, 0, 122);
            }
        }

        .topbar{
            margin-left: 660px;
            margin-top: 15px;
        }
    }

    .smLists{
        display: flex;
        flex-direction: row;
    }
}