.DLContainer {
  width: 1500px;
  height: 100%;
  min-height: 620px;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  padding: 10px;

  .dLTitle{
    font-size: 28px;
    font-weight: bold;
    margin-left: 760px;
    margin-top: 10px;
  }
}
