.sidebar {
  width: 250px;
  height: 100%;
  background-color: rgb(0, 153, 13);
  margin-top: -10px;

  .sidebarWrapper {
    padding: 0px;
    color: rgb(255, 255, 255);

    .sidebarMenu {
      margin-bottom: 10px;

      .sidebarList {
        list-style: none;
        padding: 5px;

        .link {
          color: white;
          text-decoration: none;

          .sidebarListlogo {
            margin-left: 40px;
            margin-bottom: 20px;
            .logo {
              width: 150px;
              height: 150px;
            }
          }

          .sidebarListItem {
            padding: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            border-radius: 10px;
            margin-top: 30px;

            .sidebarIcon {
              margin-right: 5px;
              font-size: 20px !important;
            }
          }
          .sidebarListItem.active,
          .sidebarListItem:hover {
            background-color: rgb(255, 255, 255);
            color: black;
            width: 225px;
            border-radius: 10px 0px 0px 10px;
          }
        }
      }
    }
  }
}