.ULContainer {
    width: 1860px;
    height: 100%;
    min-height: 810px;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
  
    .ulTitle{
      font-size: 28px;
      font-weight: bold;
      margin-left: 10px;
      margin-top: 10px;
      padding: 20px;
    }

    .UrContent{ 
        width: 1620px;
        display: flex;
        flex-direction: row;
        margin: auto;
        background-color: yellow;

        .UrInputTitel{
            font-size: 18px;
            font-weight: bold;
            .Star{
                color: red;
                font-size: 18px;
                font-weight: bold;
                margin-left: 5px;
            }

        }


        .UrInput{
            width: 330px;
            height: 40px;
            padding: 5px 15px;
            background-color: white;
            color: gray;
            font-size: 16px;
            box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
            border-style: double;
            margin-right: 50px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .UkInput{
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .UrRedio{
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 10px;
            font-size: 16px;
        }


        .UrSection1{
            display: flex;
            flex-direction: column;

        }
        .UrSection2{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        
            .RSection2{
                margin-top: 23px;
            }

        }
        
        .UrIntoBox{
            display: flex;
            flex-direction: column;
            .UrIntoBox2{
                display: flex;
                flex-direction: row;
                .UrSection3{
                    display: flex;
                    flex-direction: column;

                }
                .UrSection4{
                    display: flex;
                    flex-direction: column;
                    .PC{
                        margin-top: 23px;
                    }
                
                }
            }
            .UrSection5{
                display: flex;
                flex-direction: column;
                background-color: green;
                .UrButton{
                    display: flex;
                    flex-direction: row;
                    
                    Button{
                        margin-left: 10px;
                    }  
                }
            }
        }

    }
}