.signupContainer{
    width: 600px;
    height: 230px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px 20px 10px 20px;
    margin: 20px;
    background-color: white;

    .dRegSection{
        display: flex;
        flex-direction: row;

        .signUpImg{
            width: 350px;
            height: 200px;
        }

        .dRegSectionRight{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-left: 40px;
            margin-top: 30px;

            .dRegTitle{
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .dRegSubTitle{
                font-size: 16px;
                font-weight: 600;
            }

            .dRegBtn{
                width: 150px;
                height: 40px;
                font-size: 20px;
                font-weight: bold;
                margin-top: 20px;
                margin-left: 15px;
                background-color: white;
                color: rgb(0, 255, 85);
                border-color: rgb(0, 255, 85);
                border-style: double;
                cursor: pointer;
            }
        }
    }
}