.UPContainer {
    width: 1860px;
    height: 100%;
    min-height: 810px;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
  
    .upTitle{
      font-size: 28px;
      font-weight: bold;
      margin-left: 10px;
      margin-top: 10px;
      padding: 20px;
    }
    .UpContent{
      display: flex;
      flex-direction: row;
      box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

      .UpSection1{

        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-right: 180px;
        font-family: "Times New Roman";
        img{
          width: 400px;
          height: 400px;
          border-radius: 50%;
        }
        .UsName{
        font-size: 50px;
        font-weight: bold;
        margin-top: 80px;
        padding: 20px;
        font-family: "Times New Roman";
        }

      }
      .UpSection2{
        display: flex;
        flex-direction: column;
        font-size: 30px;
        margin-top: 180px;
        margin-right: 180px;
        font-family: "Times New Roman";

        .UpItem{
          margin-bottom: 20px;
          display: flex;
          flex-direction: row;
          img{
            width: 50px;
            height: 50px;
            padding-right: 20px;
          }
        }

      }
      .UpSection3{
        display: flex;
        flex-direction: column;
        font-size: 30px;
        margin-top: 250px;
        font-family: "Times New Roman";

        button{
          background-color: green;
          width: 200px;
          height: 40px;
          color: white;
          font-weight: bold;
          font-size: 19px;
          margin-left: 10px;
        }
        .UpItem{
          display: flex;
          flex-direction: row;
          padding: 20px;
          img{
            width: 50px;
            height: 50px;
            padding-right: 20px;
          }
        }

        .BTN {
          margin-top: 30px;
          font-family: "Georgia";
          font-size: 24px;
          color: white;
          background-color: rgb(0, 153, 13);
          width: 200px;
          height: 40px;
          padding: 5px 15px;
          margin-left: 100px;
          cursor: pointer;
        }

        .UpButton{
          display: flex;
          flex-direction: row;
          margin-top: 30px;
          
        }
        .NTS1{
          margin-top: 10px;
          font-family: "Georgia";
          font-size: 24px;
          color: white;
          background-color: rgb(0, 153, 13);
          cursor: pointer;

        }
        .NTS2{
          margin-top: 10px;
          font-family: "Georgia";
          font-size: 24px;
          color: white;
          background-color: rgb(0, 153, 13);
          cursor: pointer;

        }

      }
    }
}