.ULContainer {
    width: 1860px;
    height: 100%;
    min-height: 810px;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
  
    .ulTitle{
      font-size: 28px;
      font-weight: bold;
      margin-left: 10px;
      margin-top: 10px;
      padding: 20px;
    }

    .UIContent{

        .ULleft{

        }

        .ULright{
            
        }
    }
}