.DContainer{
    width: 1260px;
    height: 100%;
    min-height: 660px;
    background-color: rgb(255, 255, 255);
    margin-left: 250px;
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 5px;

    .header{
        margin-top: -60px;
        
        .title{
            font-size: 28px;
            color: black;
            margin-top: 15px;
            font-weight: 600;
            margin-left: 40px;

            .subtitle{
                font-size: 30px;
                font-weight: bold;
                color: rgb(37, 0, 122);
            }
        }
    }

    .smLists{
        display: flex;
        flex-direction: row;
    }

    .dRegSignUph{
        margin-left: 270px;
    }
}